
.vs/ScreenSound/v17/.futdcache.v2
.vs/ProjectEvaluation/screensound.projects.v7.bin
.vs/ProjectEvaluation/screensound.metadata.v7.bin
.vs/ProjectEvaluation/screensound.metadata.v7.bin
.vs/ProjectEvaluation/screensound.metadata.v7.bin
.vs/ProjectEvaluation/screensound.projects.v7.bin
.vs/ScreenSound/DesignTimeBuild/.dtbcache.v2
*.bin
.vs/ScreenSound/DesignTimeBuild/.dtbcache.v2
.vs/ScreenSound/DesignTimeBuild/.dtbcache.v2
/.vs/ScreenSound/v17
/.vs/ScreenSound/DesignTimeBuild
/.vs/ScreenSound/DesignTimeBuild
/.vs/ScreenSound/v17
.vs/ScreenSound/v17/DocumentLayout.json
ScreenSound/obj/Debug/net6.0/ScreenSound.AssemblyInfo.cs
ScreenSound/obj/Debug/net6.0/ScreenSound.AssemblyInfoInputs.cache
